{% extends 'base.html' %}
{% block listing %}
<h1 align="center"> Tela de Cadastro de clientes</h1></br>
{% block content %}
 <form action="" method="post">
     {% csrf_token %}
     <table border="0px">
         <tr>
             <td>
                <fieldset>
                    <fieldset class="grupo">
                        <div class="campo">
                            <label >Nome</label>
                            {{ form.nome }}
                        </div>
                    </fieldset>
                    <div class="campo">
                        <label >Telefone</label>
                        {{ form.telefone }}
                    </div>

             </td>
             <td>
                 <div class="campo" >
                        <label> Endereco: </label>
                        {{form.endereco}}
                 </div>
                 <div>
                         <button type="submit" onclick="javascript:Alerta()">Salvar</button>
                         <button type="reset"> Limpar </button>

                 </div>
             </td>
         </tr >
     </table>
</form>
</br>
<div>

<table id="custom">
  <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Endereco</th>
        <th>opcoes</th>
    </tr>
   </thead>
    {% for value in list %}
    <tbody>
       <tr>
        <td>{{ value.id }}</td>
        <td>{{ value.nome }}</td>
        <td>{{ value.telefone}}</td>
        <td>{{ value.endereco }}</td>
         <td> <a href="" target="_blank" class="detalhes">Vendas</a>
              <a href="{% url 'updatecliente' value.id %}" id="altera_botao" class="detalhes" target="_self">Alterar</a>
         </td>
       </tr>
    </tbody>
    {% endfor %}
</table>


</div>
{% endblock content %}

{% endblock %}