{% extends 'base.html' %}
{% block listing %}
	<strong>Sistema Ateliê</strong>
	<ul>
		<li>Falta ainda no Sistema.</li>
	</ul>
	<strong>FALTA: </strong>
	<ul>
		<li>guardar no banco ou em algum lugar os produtos selecionados</li>
		<li>se o produto for X pegar o valor deste produto</li>
		<li>Configurar tela de <code>Pedidos</code> --> Precisa salvar os dados em outra tabela </li>
		<li>Somar o valor de todos os produtos selecionados e guardar o valor total da venda no banco e mostrar na tela de consulta</li>

	</ul>
	<strong>e ...</strong>
	<ul>
		<li>arrumar layout das paginas</li>
		<li>Colocar logo do atelie na pagina home e na tela de pedidos</li>
		<li> Verificar como deixa fixado na pagina atual</li>
		<li> Finalizar a tela <code>HOME</code></li>

	</ul>
{% endblock %}
