{% extends 'base.html' %}
{% block listing %}
<h1 align="center"> Tela para cadastro de produtos </h1>
</br> </br>
{% block content %}
 <form action="" method="post">
     {% csrf_token %}
     <table border="0px">
         <tr>
             <td>
                 <div class="campo">
                        <label class="esquerda">Produto: </label>
                     <label class="direita">{{ form.produto }} </label>
                 </div>
             </td>
             <td>
                 <div class="campo">
                     <label class="esquerda">Valor: </label>
                    <label class="direita"> {{ form.valor }} </label>
                </div>
             </td>
             <td>
                 <div  align="center" id="salvar">
                    <button class="btn-Salvar" onclick="javascript:Alerta()" type="submit">Salvar</button>
                 </div>
             </td>
         </tr>
         </tr>
     </table>
</form>
</br>
{% endblock content %}
<h2 align="center"> Produtos cadastrados</h2>
</br>
<table id="custom">
  <thead>
    <tr>
        <th>Produto</th>
        <th> Valor</th>
        <th>Opcao</th>
    </tr>
   </thead>
    {% for value in ListProd %}
    <tbody>
       <tr>
        <td>{{ value.produto }}</td>
        <td>R$ {{ value.valor}}</td>
        <td><a href="{% url 'update' value.id %}" class="botao-generico" >Alterar</a></td>
       </tr>
    </tbody>

    {% endfor %}

</table>
{% endblock %}
