{% extends 'base.html' %}
{% block listing %}
<h1> Tela para cadastro de produtos </h1>
<br>
{% block content %}
 <form action="" method="post">
     {% csrf_token %}
     <fieldset class="grupo">
     <div class="campo">
            <label class="esquerda">Produto: </label>
         <label class="direita">{{ form.produto }} </label>
     </div>
     </fieldset>
     <fieldset class="grupo">
     <div class="campo">
            <label class="esquerda">Valor: </label>
         <label class="direita">{{ form.valor }} </label>
     </div><br>
    </fieldset>
     <div  id="salvar">
        <button class="detalhes" onclick="javascript:Alerta()" type="submit">Salvar</button>
     </div>
 </form>
{% endblock content %}
<h2 align="center"> Produtos cadastrados</h2>
<br>
<table id="custom">
  <thead>
    <tr>
        <th>Produto</th>
        <th> Valor</th>
        <th>Opcao</th>
    </tr>
   </thead>
    {% for value in ListProd %}
    <tbody>
       <tr>
        <td>{{ value.produto }}</td>
        <td>R$ {{ value.valor}}</td>
        <td> <button class="detalhes" data-url="{% url 'update' value.id %}"> Alterar </button><a href="" id="altera_botao" class="detalhes" target="_self">Alterar</a></td>
       </tr>
    </tbody>

    {% endfor %}

</table>
{% endblock %}
