<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
     {% csrf_token %}
     <fieldset class="grupo">
     <div class="campo">
            <label class="esquerda">Produto: </label>
         <label class="direita">{{ form.produto }} </label>
     </div>
     </fieldset>
     <fieldset class="grupo">
     <div class="campo">
            <label class="esquerda">Valor: </label>
         <label class="direita">{{ form.valor }} </label>
     </div><br>
    </fieldset>
     <div  id="salvar">
        <button class="detalhes" onclick="javascript:Alerta()" type="submit">Salvar</button>
     </div>
 </form>
</body>
</html>