{% extends 'base.html' %}
{% block listing %}
<h1> Tela de Cadastro de cliente e vendas de produtos</h1>
{% block content %}
 <form action="" method="post">
     {% csrf_token %}
     <table>
         <tr>
             <td>
     <fieldset>
        <fieldset class="grupo">
            <div class="campo">
                <label >Nome</label>
                {{ form.nome }}
            </div>
        </fieldset>
         <div class="campo">
            <label >Telefone</label>
            {{ form.telefone }}
        </div>
        <div class="campo">
            <label> Entrega: </label>
            {{form.entrega}}
        </div>
          <div class="campo">
            <label> Endereco: </label>
            {{form.endereco}}
        </div>
            </td>
             <td>
</form>
<div>
    <form action="" method="post">
            <fieldset class="grupo">
               <div class="campo">

                   <div class="esquerda"><label>Produto</label>
                        <select>
                            <option disabled="true" selected>Selecione ...</option>
                             {% for value in listProd %}
                             <option>{{ value.produto }}</option>
                            {% endfor %}
                        </select>
                   </div>

                    <div margin-left="10px" class="direita"><label>Quantidade: </label>   <label></label></div>

                </div>
            </fieldset>
            <button type="submit" onclick="javascript:Alerta()">Salvar</button>
            <button type="reset"> Limpar </button>
          </fieldset>
             </td>
            </td>
             </tr>
             </table>
 </form>
</div>
{% endblock content %}
{% endblock %}