<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
      <title>Home</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/layout.css' %}">
      <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
      <script src="{% static 'js/estilo.js' %}" type="text/javascript"></script>
    </head>

    <body>
    {% block navigation %}
<header id="header">
	<nav class="links" style="--items: 5;">
		<a href="{% url 'index' %}">Ateliê</a>
        <a href="{% url 'cliente' %}">Clientes</a>
		<a href="{% url 'venda' %}">Vendas</a>
		<a href="{% url 'produto' %}">Cad Produtos</a>
		<a href="{% url 'consulta' %}">Consultas</a>

		<span class="line"></span>
	</nav>
</header>
    {% endblock %}

<div class="content">